{% extends "admin/index.html" %}
{% load url from future %}
{% load i18n %}
{% block content %}
{% if user.is_active and user.is_staff %}
<div class="module">
	<table>
		<caption>{% trans "RQ Worker Dashboard" %}</caption>
		<tbody><tr>
			<th scope="row"><a href="{% url 'rqworker_dashboard_index' %}">{% trans "Open Dashboard" %}</a></th>
			<td><a href="/admin/sites/site/add/" class="addlink">Hinzufügen</a></td>
			<td><a href="/admin/sites/site/" class="changelink">Ändern</a></td>
		</tr>
		</tbody>
	</table>
</div>

<div style="margin: 5px 0 10px 0; display: block; padding: 8px 20px 12px; font-size: 20px; font-weight: 200; line-height: 1; color: #999;" rel="lightbox"><a href="{% url 'rqworker_dashboard_index' %}">{% trans "RQ Worker Dashboard" %}</a></div>
{% endif %}
{{ block.super }}
{% endblock %}