{% extends 'rqworker_dashboard/bootstrap.html' %}
{% load i18n %}
{% load static %}

{% block header_javascript %}
    <script type="text/javascript">
        window.poll_interval	= {{ poll_interval }};
    </script>
{% endblock %}

{% block content %}

    <div id="job-alert" class="modal hide fade" data-type="template">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>[[headline]]</h3>
        </div>
        <div class="modal-body">
            <p>[[question]] <span class="label label-info">[[id]]</span>?</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" >No</a>
            <a href="#" class="btn btn-primary" rel="yes">Yes</a>
        </div>
    </div>

<div class="row" style="margin-bottom: 10px;">
    <div class="span12">
        <button id="refresh-button"  class="btn btn-inverse" style="float: left;"><i class="icon-refresh icon-white"></i> Manual refresh</button>
        <button id="refresh-toggle-button"  class="btn btn-inverse active" data-toggle="button" style="float: right;"><i class="icon-pause icon-white"></i> Refresh every {{ poll_interval }} seconds</button>
    </div>
</div>

<div class="row">
	<div class="span6">
		<div class="section">
			<h2>{% trans "Queues" %}</h2>
			<p class="fixed intro">{% blocktrans %}This list below contains all the registered queues with the number of jobs currently in the queue.  Select a queue from above to view all jobs currently pending on the queue.{% endblocktrans %}</p>

			<table id="queues" class="table table-bordered ">
				<thead>
				<tr>
					<th>{% trans "Queue" %}</th>
					<th class="narrow">{% trans "Jobs" %}</th>
				</tr>
				</thead>
				<tbody>
				<script name="queue-row" type="text/template">
					<tr data-role="queue" class="[[name]]">
						<td><i class="icon-inbox" style="opacity: .5;"></i> <a href="#[[name]]">[[name]]</a></td>
						<td class="narrow"><span class="badge [[badge-class]]">[[count]]</span></td>
					</tr>
				</script>
				<script name="no-queues-row" type="text/template">
					<tr>
						<td colspan="3">{% trans "No queues." %}</td>
					</tr>
				</script>
				</tbody>
			</table>
		</div>
	</div>

	<div class="span6">
		<div class="section">

			<h2>{% trans "Workers" %}</h2>
			<p class="fixed intro">{% trans "This list below contains all the registered workers." %}<br /><br /></p>

			<table id="workers" class="table table-bordered">
				<thead>
				<tr>
					<th style="width:48px">State</th>
					<th>Worker</th>
					<th>Queues</th>
				</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

			<script name="worker-row" type="text/template">
				<tr data-role="worker">
					<td><i class="icon-[[state]]"></i></td>
					<td>[[name]]</td>
					<td>[[queues]]</td>
				</tr>
			</script>

			<script name="no-workers-row" type="text/template">
				<tr>
					<td colspan="3">No workers.</td>
				</tr>
			</script>

		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<div class="section">

			<h2>Jobs on <span id="queuename">default</span> Queue</h2>
			<p class="intro">
				<!--
				<a href="#" id="empty-btn" class="btn btn-danger btn-small" style="float: right"><i class="icon-trash icon-white"></i> Empty</a>
				<a href="#" id="requeue-all-btn" class="btn btn-small" style="float: right; margin-right: 8px;"><i class="icon-retweet"></i> Requeue All</a>
				-->
				This list below contains all the registered jobs on queue <strong>{{ defaultqueue.name }}</strong>, sorted by age (oldest on top).
            </p>

			<table id="jobs" class="table table-bordered">
				<thead>
                <tr>
                    <td colspan="3">
                        <a rel="quick-ajax" class="btn btn-mini btn-success" href="{% url rqworker_dashboard_api path='test/add/normal' %}"><i class="icon-plus-sign"></i> Add normal test</a>
                        <a rel="quick-ajax" class="btn btn-mini btn-danger" href="{% url rqworker_dashboard_api path='test/add/failing' %}"><i class="icon-plus-sign"></i> Add failing test</a>
                    </td>
                </tr>
				<tr>
					<th>Name</th>
                    <th>Age</th>
                    <th>Result</th>
					<th class="narrow">Actions</th>
				</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

			<script name="job-row" type="text/template">
				<tr data-role="job" data-job-id="[[id]]">
					<td>
						<i class="label [[state-label-class]]">[[state-label]]</i>
						<span class="description">[[description]]</span>
						<span class="origin">from <strong>[[origin]]</strong></span>
						<div class="job_id">[[id]]</div>
						<span class="end_date">[[ended_at]]</span>
						<pre class="exc_info [[exc_info_class]]">[[exc_info]]</pre>
					</td>
					<td><span class="creation_date">[[created_at]]</span></td>
                    <td>
                        <pre class="result [[result_class]]">[[result]]</pre>
                    </td>
					<td class="actions narrow">
						<a href="#" data-role="requeue-job-btn" class="btn btn-small [[requeue-button-additional-class]]"><i class="icon-retweet"></i> Requeue</a>
						<a href="#" data-role="cancel-job-btn" class="btn btn-small [[cancel-button-additional-class]]"><i class="icon-remove"></i> Cancel</a>
					</td>
				</tr>
			</script>

			<script name="no-jobs-row" type="text/template">
				<tr>
					<td colspan="4">No jobs.</td>
				</tr>
			</script>

		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% static "rqworker_dashboard/js/rqworker_dashboard.js" %}" /></script>
{% endblock %}