{% extends 'rqworker_dashboard/bootstrap.html' %}
{% load i18n %}
{% load static %}
{% block content %}

    <div id="delete-job-alert" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>{% trans "Delete Job?" %}</h3>
        </div>
        <div class="modal-body">
            <p>{% blocktrans %}Are you sure you want to delete job {% endblocktrans %}<span class="label label-info">[[id]]</span>?</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" >Close</a>
            <a href="#" class="btn btn-primary">{% trans "Delete Job!" %}</a>
        </div>
    </div>

<div class="row">
	<div class="span6">
		<div class="section">

			<h1>{% trans "Queues" %}</h1>
			<p class="fixed intro">{% blocktrans %}This list below contains all the registered queues with the number of jobs currently in the queue.  Select a queue from above to view all jobs currently pending on the queue.{% endblocktrans %}</p>

			<table id="queues" class="table table-bordered ">
				<thead>
				<tr>
					<th>{% trans "Queue" %}</th>
					<th class="narrow">{% trans "Jobs" %}</th>
				</tr>
				</thead>
				<tbody>
				<script name="queue-row" type="text/template">
					<tr data-role="queue" class="[[name]]">
						<td><i class="icon-inbox" style="opacity: .5;"></i> <a href="#[[name]]">[[name]]</a></td>
						<td class="narrow"><span class="badge [[badge-class]]">[[count]]</span></td>
					</tr>
				</script>
				<script name="no-queues-row" type="text/template">
					<tr>
						<td colspan="3">{% trans "No queues." %}</td>
					</tr>
				</script>
				</tbody>
			</table>
		</div>
	</div>

	<div class="span6">
		<div class="section">

			<h1>{% trans "Workers" %}</h1>
			<p class="fixed intro">{% trans "This list below contains all the registered workers." %}</p>

			<table id="workers" class="table table-bordered">
				<thead>
				<tr>
					<th style="width:48px">State</th>
					<th>Worker</th>
					<th>Queues</th>
				</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

			<script name="worker-row" type="text/template">
				<tr data-role="worker">
					<td><i class="icon-[[state]]"></i></td>
					<td>[[name]]</td>
					<td>[[queues]]</td>
				</tr>
			</script>

			<script name="no-workers-row" type="text/template">
				<tr>
					<td colspan="3">No workers.</td>
				</tr>
			</script>

		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<div class="section">

			<h1>Jobs on <strong>all Queues</strong></h1>
			<p class="intro">
				<a href="#" id="empty-btn" class="btn btn-danger btn-small" style="float: right"><i class="icon-trash icon-white"></i> Empty</a>
				<a href="#" id="compact-btn" class="btn btn-small" style="float: right; margin-right: 8px;"><i class="icon-resize-small"></i> Compact</a>
				<a href="#" id="requeue-all-btn" class="btn btn-small" style="float: right; margin-right: 8px;"><i class="icon-retweet"></i> Requeue All</a>
				This list below contains all the registered jobs on queue <strong>{{ defaultqueue.name }}</strong>, sorted by age (oldest on top).</p>

			<table id="jobs" class="table table-bordered">
				<thead>
				<tr>
					<th>Name</th>
					<th>Age</th>
					<th class="narrow">Actions</th>
				</tr>
				</thead>
				<tbody>
				{% for job in defaultqueue.jobs %}
				<tr>
					<td>{{ job.description|default:job }}</td>
					<td>{{ job.age }}</td>
					<td></td>
				</tr>
				{% endfor %}
				</tbody>
			</table>

			<script name="job-row" type="text/template">
				<tr data-role="job" data-job-id="[[id]]">
					<td>
						<i class="label [[state-label-class]]">[[state-label]]</i>
						<span class="description">[[description]]</span>
						<span class="origin">from <strong>[[origin]]</strong></span>
						<div class="job_id">[[id]]</div>
						<span class="end_date">[[ended_at]]</span>
						<pre class="exc_info [[exc_info_class]]">[[exc_info]]</pre>
					</td>
					<td><span class="creation_date">[[created_at]]</span></td>
					<td class="actions narrow">
						<a href="#" data-role="requeue-job-btn" class="btn btn-small"><i class="icon-retweet"></i> Requeue</a>
						<a href="#" data-role="cancel-job-btn" class="btn btn-small"><i class="icon-remove"></i> Cancel</a>
					</td>
				</tr>
			</script>

			<script name="no-jobs-row" type="text/template">
				<tr>
					<td colspan="3">No jobs.</td>
				</tr>
			</script>

		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% static "rqworker_dashboard/js/rqworker_dashboard.js" %}" /></script>
{% endblock %}