{% extends 'rqworker_dashboard/base.html' %}

{% block body %}
	<div><a href="{% url rqworker_dashboard_tests_add test='normal' queue='default' %}">Add normal test to default queue</a></div>
	<div><a href="{% url rqworker_dashboard_tests_add test='fail' queue='default' %}">Add failing test default queue</a></div>
	<hr />
	<div><a href="{% url rqworker_dashboard_tests_add test='normal' queue='custom' %}">Add normal test to custom queue</a></div>
	<div><a href="{% url rqworker_dashboard_tests_add test='fail' queue='custom' %}">Add failing test custom queue</a></div>
	{% if test %}
		<hr />
		<div>Added <strong>{{ test }}</strong> test to <strong>{{ queue }}</strong></div>
	{% endif %}
{% endblock %}